.odd {
    background-color: #fcacc0;
    font-family: Verdana, 'DejaVu Sans', sans-serif;
}

.cooler {
    font-size: 24px;
}

#second {
    color: #3716f1;
    font-size: 36px;
}

#fourth {
    background-color: #82d669;
    font-size: 24px;
    font-weight: 900;
}
