body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  /* width: 400px; */
  background: #fff;
  margin: 16px 410px;
  padding: 16px;
  
}

.title,
.content,
.button-container {
  padding: 16px;
  font-size: 16px;
  margin: 16px 0;
}

.title {
  background: #e3f4ff;
}

.content {
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  margin-bottom: 0;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 0 auto;
}